*{
    padding: 0;
    margin: 0;
}
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
#todo-align{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 200px;
}
/*div{
    align-items: center;
    width: 100%; 
}*/

h2{
    margin-bottom: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#checkbox-input{
    margin-right: 20px;
}

span{ 
    margin-right: 15px;
    margin-right: 20px;
}

.Edit-btn{
    width: 80px;
    color: white;
    background-color: rgb(26, 9, 105);
    border: 1px solid transparent;
    margin-right: 15px;
    border-radius: 5px;
}
.Delete-btn{
    width: 80px;
    color: white;
    background-color: rgb(163, 76, 152);
    border: 1px solid transparent;
    border-radius: 5px;
}

#submit-form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 500px;
    align-items: center;
}

#text-input{
    margin-bottom: 15px;
    height: 30px;
    width: 350px;

}

#add-btn{
    width: 100px;
    color: white;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: rgb(22, 13, 148);
    display: flex;
    justify-content: center;
    
}
#add-btn:hover{
    background-color: rgb(7, 9, 107);
}